<script type="text/x-handlebars-template" data-name="toolbar">
    <div class="row">
        <div class="col-xs-4">
        </div>
        <div class="mapsvg-toolbar-title col-xs-4">
            Gallery
        </div>
        <div class="col-xs-4">
            <button  style="margin-right: 5px;" class="btn pull-right" id="mapsvg-btn-gallery-add"><i class="fa fa-plus"></i></button>
        </div>
    </div>
</script>


<script type="text/x-handlebars-template" data-name="main">
    <div class="tab-content full-flex">
        <div class="tab-pane full-flex active" id="mapsvg-gal-list" data-controller="list">
        </div>
    </div>
</script>